name: CI-CD - Container Health app 

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]
  workflow_dispatch:
    inputs:
      deploy:
        description: "Deploy image and apply kubernetes manifests"
        required: true
        default: "false"

permissions:
  contents: write
  packages: write

jobs:
  build:
    name: Build and test image
    runs-on: ubuntu-latest
    
    steps:

      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build Docker Image (CI)
        run: |
          docker build \
            -t container-health:ci \
            ./app
          
      - name: Run container for healthcheck
        run: |
          docker run --rm -d -p 8000:8000 --name container-health-ci container-health:ci
          sleep 5


      - name: Validate /health endpoint
        run: |
          curl --fail http://localhost:8000/health

      - name: Stop container
        run: |
          docker stop container-health-ci
    
  release:
    env:
      IMAGE_NAME: ghcr.io/brucie83/container-health
    name: Release Image (Manual)
    runs-on: ubuntu-latest
    needs: build
    if: ${{ github.event_name == 'workflow_dispatch' && inputs.deploy == 'true' }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Github Container Registry
        run: |
          echo ${{ secrets.GITHUB_TOKEN }} | docker login ghcr.io -u ${{ github.actor }} --password-stdin


# SemVer PATCH versioning (Calcula la siguiente version de parche de la imagen para evitar usar 'latest' y asi evitar sobrescribir accidentalmente las versiones estables con algo no probado)
      - name: Calculate next version (SemVer PATCH)
        run: |
          OLD=$(cat VERSION)
          IFS='.' read -r M m p <<< "$OLD"
          NEW="$M.$m.$((p+1))"
          echo "$NEW" > VERSION
          echo "VERSION=$NEW" >> $GITHUB_ENV
          

          
# Build con tags de version creadas con SemVer PATCH y SHA de commit para trazabilidad
      - name: Build Image
        run: |
          docker build \
            -t $IMAGE_NAME:$VERSION \
            -t $IMAGE_NAME:sha-${{ github.sha }} \
            ./app
 
# Push imagenes ya versionada a GHCR            
      - name: Push image to GHCR
        run: |
          docker push $IMAGE_NAME:$VERSION
          docker push $IMAGE_NAME:sha-${{ github.sha }}


      - name: Update GitOps repo image tag
        env:
          GITOPS_TOKEN: ${{ secrets.GITOPS_REPO_TOKEN }}
          VERSION: $VERSION
        run: |
          git clone https://x-access-token:${GITOPS_TOKEN}@github.com/brucie83/gitops-aks-platform.git
          cd gitops-aks-platform

          sed -i "s|image: ghcr.io/brucie83/container-health:.*|image: ghcr.io/brucie83/container-health:${VERSION}|" ./apps/container-health/deployment.yaml
          
          git config user.name "github-actions"
          git config user.email "github-actions@github.com"

          git add ./apps/container-health/deployment.yaml
          git commit -m "chore(gitops): update container-health image to v${VERSION}"
          git push

#Commit y push del archivo VERSION actualizado al repositorio para mantener el control de versiones
      - name: Commit VERSION bump
        run: |
          git config user.name "github-actions"
          git config user.email "github-actions@github.com"
          git add VERSION
          git commit -m "chore: release v$VERSION"  || echo "No changes to commit" 
          git push